{% extends 'base.html' %}

{% block content %}
    <h1>Add Book</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.publish_date.label }}<br>
            {{ form.publish_date(size=32) }}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}
        </p>
        <p>
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
