{% extends 'base.html' %}

{% block content %}
    <h1>Books</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Date</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publish_date }}</td>
                    <td>{{ book.isbn }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
